.cart-table {
    margin-left: 10%;
    width: 90%;
    table-layout: fixed;
}

.tbody tr:nth-child(odd) {
    background-color: #590d93;
}

.tbody tr:nth-child(even) {
    background-color: #590d93;
}