{% extends 'products/base.html' %}
{% load static %}
{% block content %}
{% load thumbnail %}

<div class="product-detail" style="padding-left: 20%;">
    {% if product.image %}
            {% thumbnail product.image "300" as im %}
                <a href="{{ product.get_absoluute_url }}"><img src="{{im.url}}"></a>
            {% endthumbnail%}
        {% else %}
            <a href="{{ product.get_absoluute_url }}"><img src="/static/img/no-image.png"></a>
    {% endif %}
    <h1>{{ ptoduct.name }}</h1>
    <h2>
        <a href="{{ product.subcategory.get_absolute_url }}">
            {{ product.category }}
        </a>
        <p class="Price">{{ product.price }} руб.</p>
        {{ product.description|linebreaks }}
    </h2>
    <h2>
        <form action="{% url 'cart:cart-add' prod.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Добавить в корзину">
          </form>
</div>
{% endblock %}
