<!--<form action="{% url 'products:subcategory-form' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Добавить подкатегорию</button>
</form> -->


{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <!--Подключаем мини иконку сайта-->
    <link type="image/x-icon" href="{% static 'img/favicon.png' %}" rel="shortcut icon">
    <!-- Menu css -->
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" type="text/css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css.map' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map' %}" type="text/css">
    <!--admin css-->
    <link rel="stylesheet" href="{% static 'css/admin.css'%}" type="text/css">
    <!-- Popper.min.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <script src="{% static 'js/admin.js'%}" ></script>
 </head>

<div class="row">
    <div class="col-md-0 col-lg-2 col-xl-3 col-xxl-4"> </div>
    <div id="conteyner_category" class="col-md-12 col-lg-8 col-xl-6 col-xxl-4 ">
        <div class="cat_b">
            <a href="javascript:history.back()" title="Вернуться на предыдущую страницу" > &larr; Вернуться </a>
            <div class="form_cat">
                <form action="{% url 'products:subcategory-form' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %} {{ form.as_p }}
                    <button class="btn_entr" type="submit">Добавить подкатегорию</button>
                    <br><br>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-0 col-lg-2 col-xl-3 col-xxl-4"></div>
</div>
<!--as_p - метод отображения формы, добавлять абзац между формами-->
